<section>
  <div class="container" data-aos="fade-up">
    <div class="row gy-4">
      <div id="lg8" class="col-lg-8">
        <div class="portfolio-details-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <mdb-carousel [controls]="true" [indicators]="true">
                <mdb-carousel-item>
                  <img
                    src="https://scontent.ftgu2-2.fna.fbcdn.net/v/t39.30808-6/306701138_446462267520264_6697673340384488838_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=GD662SXObAQAX9pmQiP&_nc_ht=scontent.ftgu2-2.fna&oh=00_AT96e7N3hUhsyzPkARi1r96OetRNzbRr5JH0ha9qTcstLQ&oe=6325EE30"
                    class="d-block w-100"
                    alt="..."
                  />
                </mdb-carousel-item>

              <mdb-carousel-item>
                <img
                  src="https://scontent.ftgu2-2.fna.fbcdn.net/v/t39.30808-6/299328157_429299485903209_8960057492678480173_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=m-hKKxX4B_8AX-cpSgw&_nc_ht=scontent.ftgu2-2.fna&oh=00_AT_L_cIjwdvVm0sfHkkxxaUOI2FwgNXEjyCWiBvtJb4xOQ&oe=63029989"
                  class="d-block w-100"
                  alt="..."
                />
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img
                  src="https://scontent.ftgu2-2.fna.fbcdn.net/v/t39.30808-6/299474322_429299535903204_7379070911750526028_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=4ZKmyofKZ3YAX8X3wNS&_nc_ht=scontent.ftgu2-2.fna&oh=00_AT-3WW1wMjbEHIFTqGj01WszVkOvuz0P5ZGob_v9ndGztw&oe=63026015"
                  class="d-block w-100"
                  alt="..."
                />
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img
                  src="https://scontent.ftgu2-2.fna.fbcdn.net/v/t39.30808-6/299812586_429299602569864_4019527926988343066_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=gH8KFQhss68AX_RCU19&_nc_ht=scontent.ftgu2-2.fna&oh=00_AT8aNjN07aYONNBI8S22i3gxTaAhpksjwA8XTH9_kiZHag&oe=6302CB97"
                  class="d-block w-100"
                  alt="..."
                />
              </mdb-carousel-item>
            </mdb-carousel>
            <div class="swiper-pagination">

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="portfolio-info">
          <ul>
            <li>{{tiempo}}</li>
            <li><strong>Fecha</strong>: 01 March, 2020</li>
            <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
          </ul>
        </div>
        <div class="portfolio-description">
          <h2>This is an example of portfolio detail</h2>
          <p>
            Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
