.container {
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
}

.container {
    border-style: none;
}

.portfolio-info {
    box-shadow: 10px 5px 5px rgb(228, 216, 216);
}


#lg8 {
    order: 2px solid;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(228, 216, 216);
}