<!-- ======= Header ======= -->

<header id="header" class="fixed-top">
  <!-- Uncomment below if you prefer to use an image logo -->
  <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/slides/Logo Copeco Oficial-01.png" alt="" class="img-fluid"></a> -->

  <nav id="navbar" class="navbar navbar-expand-lg order-last order-lg-01">
    <div class="container d-flex align-items-center">
      <img
        src="assets/img/slide/Logo Copeco Oficial-01.png"
        alt=""
        width="300"
        height="150"
        class="logo me-auto me-lg-0"
      />
      <h1 class="logo me-auto mb-3">
        <a routerLink="" class="logo navbar-brand"><span>COP</span>ECO</a>
      </h1>
      <button
        class="navbar-toggler"
        type="button"
        (click)="basicNavbar.toggle()"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
    </button>
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarSupportedContent"
        mdbCollapse
        #basicNavbar="mdbCollapse"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li><a  routerLink="" class="active ">Home</a></li>

          <li class="dropdown">
            <a href="#"
              ><span>Conocenos</span> <i class="bi bi-chevron-down "></i
            ></a>
            <ul>
              <li ><a class="dropdown-item" routerLink="vision">Mision y Vision</a></li>
              <li><a class="dropdown-item" routerLink="regionales">Oficinas Regionales</a></li>
              <li><a class="dropdown-item" href="testimonials.html">Organigrama</a></li>
              <!-- <li class="dropdown">
                  <a href="#"
                    ><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i
                  ></a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li> -->
            </ul>
          </li>

          <li><a href="https://correo.copeco.gob.hn">CORREO</a></li>
          <li><a href="http://cenaos.copeco.gob.hn">CENAOS</a></li>
          <li><a href="http://geonode.copeco.gob.hn">GEOPORTAL</a></li>
          <li><a href="http://cenicac.copeco.gob.hn">CENICAC</a></li>
          <li>
            <a
              href="https://portalunico.iaip.gob.hn/portal/index.php?portal=339"
              >Portal de Transparencia</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- .navbar -->
</header>
<!-- End Header -->
