<body>
  <div class="container-fluid">
    
  </div>
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="semaforo col">
          <span class="luces-circulo green" color="green"></span>
          <span class="luces-circulo yellow" color="yellow"></span>
          <span class="luces-circulo verde" color="green"></span>
          <span class="luces-circulo" color="white"></span>
        </div>
        <div class="stick"></div>
        <div class="floor"></div>
      </div>
    </div>
    <div class="col">
      <img
        alt=""
        width="500"
        height="550"
        class="logo"
        src="../../../assets/img/Copequito Comunica-03.png"
        alt=""
      />
    </div>
  </div>
</body>
